.react-flags-select .flag-select__btn,
.ReactFlagsSelect-module_selectBtn,
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

.ReactFlagsSelect-module_selectBtn__19wW7:after,
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after {
  display: none;
}
