/* CustomDatePicker.css */

/* Change the color of the selected date */
.react-datepicker__day--selected, 
.react-datepicker__day--keyboard-selected {
    background-color: #00936C !important;
    color: white !important;
}

/* Change the hover color for the days */
.react-datepicker__day:hover {
    background-color: #66c2a3 !important;
    color: white !important;
}

/* Customize the header of the calendar */
.react-datepicker__current-month,
.react-datepicker__day-name {
    color: #00936C !important;
}

/* Optional: Customize the month and year dropdown */
.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container {
    color: #00936C !important;
}

/* Optional: Custom style for the DatePicker input */
.react-datepicker-wrapper input {
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
}
